.iframe_video
{
    padding-left: 10px;
    padding-top: 10px;
}

/* Scrollbars verbergen */
.container5 
{
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.container5::-webkit-scrollbar 
{
  width: 0;
  height: 0;
}

::-webkit-scrollbar 
{
  display: none;
}