.Welkomtext_Home{
    text-align: center;
    font-family: monospace;
    font-size: 50px;
}
.text_title_Home{
    text-align: left;
    font-family: monospace;
    font-size: 25px;
    padding-top: 60px;
    border-bottom: 3px solid red;
}
.text_Home{
    text-align: left;
    font-family: monospace;
    font-size: 20px;
    padding-top: 20px;
}